body{
  background-image: url("./ForkAndKnife.png");
  background-repeat:  no-repeat;
}
.foods h2{
  font-family: 'Luckiest Guy', cursive;
  text-align: center !important;
}

.food-title {
  background-color: #0050a8 !important;
}

.food-title th{
  font-weight: 500;
  color: white;
  border: 1px solid #bababa;
}

.food-table {
  width: 80%;
  margin: 0 auto;
}

.food-table .food-rows {
  background-color: #eaf4ff;
}

.food-rows th{
  font-weight: 400;
  border: 1px solid #bababa;
}

.add-food {
  font-size: 16px;
  margin-left: 10%;
  color: white;
  padding: 6px;
  background-color: #0050a8;
  border: 1px solid #0050a8;
  border-radius: 8px;
}

.add-food:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.3s;
}

.food-table tbody>tr>:nth-child(10){
background-color: white;
border: 1px solid white;
}
.food-table tbody>tr>:nth-child(9){
background-color: white;
border: 1px solid white;
}

