table {
    width:85%;
    margin: 0 auto;
  }
  table, th, td {
    border: 1px solid #17a2b8;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color: #fff;
  }
  .column-title th {
    background-color: #007bff;
    color: white;
  }