  #app-title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
  }
  
  #expiration{
    color: green;
  }

  .account {
    border: 2px solid white;
    margin-right: 10px;
    border-radius: 8px;
    color: white !important;
  }

  .account:hover{
    color: #007bff !important;
    background-color: white;
  }

  .items{
    color: white !important;
  }
  
  .items:hover{
    text-decoration: underline;
    color: #e0e1e2 !important;
  }